<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
  </head>

  <body>
    <h1>Welcome! <%= data.userName %></h1>
    <h3>Happy Shopping!</h3>
  </body>
</html>
